.content {
    max-width: 960px;
    margin: auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('swirl.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none;
    font-size: 16pt;
}
.navbar a:hover {
    text-decoration: underline;
}
.collum {
    width: 50%;
    float: left;
}
.box0 h2 {
    font-size: 18pt;
    color: white;
}
.row:after {
    content: "";
    display: inline;
    clear: both;
    text-align: center;
}
.btn {
    background-color: rgba(32, 32, 32, 0.76);
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
  }
.btn:hover {
    background-color: rgba(65, 65, 65, 0.74);
  }
.p0 {
    font-size: 15pt;
    color: white;
    background-size: auto;
}
.box0 {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    padding: -10px;
    margin-top: 60px;
}
.box1 {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color: white;
    width: auto;
    height: auto;
}
